/zeromq/bin/*
/zeromq/ZMQ.Sum/obj
/zeromq/ZMQ.Sum/bin
/zeromq/ZMQ.Sum.Test/bin
/zeromq/ZMQ.Sum.Test/obj
/zeromq/ZMQ.Sum.MasterRunner/obj
/zeromq/ZMQ.Sum.MasterRunner/bin
/zeromq/ZMQ.Sum.SlaveRunner/obj
/zeromq/ZMQ.Sum.SlaveRunner/bin
/zeromq/TestResults
/zeromq/packages
*.suo
*.ncrunchsolution
/zeromq/ZMQ.PipeSort/bin
/zeromq/ZMQ.PipeSort/obj
/zeromq/ZMQ.PipeSort.Test/obj
/zeromq/ZMQ.PipeSort.Test/bin
/CalculoPi/Release
/CalculoPi/Debug
/CalculoPi/ipch
*.user
/CalculoPi/CalculoPi/Debug
/CalculoPi/CalculoPi/Release
*.*~
