*.in
*.o
*.log
**/*.in
*.cache
Makefile
src/Makefile
tests/Makefile
missing
depcomp
configure
aclocal.m4
install-sh
*.in
*.o
*.log
**/*.in
*.cache
Makefile
src/Makefile
tests/Makefile
missing
depcomp
configure
aclocal.m4
install-sh
**/*.swp
config.status
tests/.deps/
compile
*_
*.*~
tests/check_mandelbrot
tests/check_mandelbrot_balanced
tests/check_mandelbrot_common
tests/*.png
tests/*.bmp
