*.in
*.o
*.log
**/*.in
bin
*.cache
Makefile
src/Makefile
tests/Makefile
missing
depcomp
configure
aclocal.m4
install-sh
*.in
*.o
*.log
**/*.in
bin
*.cache
Makefile
src/Makefile
tests/Makefile
missing
depcomp
configure
aclocal.m4
install-sh
**/*.swp
config.status
tests/.deps/
